<%
links = {
  dashboard: { href: root_path },
  fittings: { href: fittings_path },
  doctrines: { href: doctrines_path },
  api: { href: api_path },
  users: { href: users_path, admin: true }
}
%>
<nav class="bg-neutral-800" data-controller="reveal">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="border-b border-neutral-700">
      <div class="flex items-center justify-between h-16 px-4 sm:px-0">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="w-8 h-8" src="https://tailwindui.com/img/logos/mark.svg?color=cyan&shade=500" alt="EVE Doctrine Manager">
          </div>
          <% if user_logged_in? %>
            <div class="hidden md:block">
              <div class="flex items-baseline ml-10 space-x-4">
                <% links.each do |key, link| %>
                  <% next if link[:admin] && !current_user.admin? %>

                  <% if active_nav?(key) %>
                    <%= link_to t(".links.#{key}"), link[:href], class: 'bg-neutral-900 text-white px-3 py-2 rounded-md text-sm font-medium', aria: { current: :page } %>
                  <% else %>
                    <%= link_to t(".links.#{key}"), link[:href], class: 'text-neutral-300 hover:bg-neutral-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="hidden md:block">
          <div class="flex items-center ml-4 md:ml-6">
            <%= render 'application/user_menu' %>
          </div>
        </div>
        <div class="flex -mr-2 md:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="inline-flex items-center justify-center p-2 rounded-md bg-neutral-800 text-neutral-400 hover:bg-neutral-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-neutral-800" aria-controls="mobile-menu" aria-expanded="false"
            data-action="click->reveal#toggle"
          >
            <span class="sr-only">Open main menu</span>
            <%= heroicon 'bars-3', variant: :outline, options: { class: 'block h-6 w-6' } %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden border-b border-neutral-700 md:hidden" id="mobile-menu" data-reveal-target="item">
    <% if user_logged_in? %>
      <div class="px-2 py-3 space-y-1 sm:px-3">
        <% links.each do |key, link| %>
          <% next if link[:admin] && !current_user.admin? %>

          <% if active_nav?(key) %>
            <%= link_to t(".links.#{key}"), link[:href], class: 'bg-neutral-900 text-white block px-3 py-2 rounded-md text-base font-medium', aria: { current: :page } %>
          <% else %>
            <%= link_to t(".links.#{key}"), link[:href], class: 'text-neutral-300 hover:bg-neutral-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="pt-4 pb-3 border-t border-neutral-700">
      <% if user_logged_in? %>
        <div class="flex items-center px-5">
          <div class="flex-shrink-0">
            <%= image_tag current_user.avatar_url, class: 'h-10 w-10 rounded-full', alt: "Avatar for #{current_user.name}" %>
          </div>
          <div class="ml-3">
            <div class="text-base font-medium leading-none text-white"><%= current_user.name %></div>
          </div>
        </div>
        <div class="px-2 mt-3 space-y-1">
          <%= button_to 'Log out', destroy_user_session_path, class: 'block px-4 py-2 text-sm text-neutral-700', method: :delete, role: 'menuitem', tabindex: '-1', data: { turbo: false } %>
        </div>
      <% else %>
        <%= button_to user_eve_omniauth_authorize_path, data: { turbo: false } do %>
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <%= button_to user_eve_omniauth_authorize_path, data: { turbo: false } do %>
                <%= image_tag('eve-sso-login-black-small.png') %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
